<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp</title>
</head>
<body>
   <h3>All Chats</h3>
</body>
</html>


for(let chat of chats) {
    <div>
        <p><%= chat.frrom %></p>
        <p><%= chat.msg %></p>
        <p>Received by <%= chat.to %></p>
    </div>
}