<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chats..</title>
</head>
<body>
    <form>
        <input placeholder="who are you" name="from">
        <textarea name="msg">write your message..</textarea>
    </form>
</body>
</html>